.App {
  text-align: center;
  
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
body { 
  background-color: rgb(255, 255, 255);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media all and (max-width:991px) {
  .myForm { 
    width: 100%;
    align-items: center;
  }
  .regLabel { 
    width: 130px;
  }
  .regInput {
    width: 200px;
    margin-left: 10px;
    height: 30px;
  }
  .ingLabel {
    width: 120px;
    margin-bottom: 15px;
  }
  .ingInput { 
    width: 200px;
    height: 30px;
    margin-left: 30px;
  }
  .ingBox { 
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    
  }
  #servings { 
    margin-left: 10px;
  }
  .removeBtn { 
    width: 200px;
    align-self: center;
    margin-bottom: 10px;
  }
  .recipeForm { 
    /* background-color: blueviolet; */
    width: 400px;
  }

}

/* @media all and (min-width:600px) { 
  .myForm { 
    width: 90%;
  }
} */

@media all and (min-width:992px){
  .myForm {
    width: 50%;
  }
  .regLabel { 
    width: 120px;
  }
  .regInput {
    width: 250px;
    margin-left: 10px;
    height: 30px;
  }
  .ingLabel {
    width: 70px;
  }
  .ingInput { 
    width: 200px;
    height: 30px;
  }
  .ingBox { 
    display: flex;
    flex-direction: row; 
    align-items: center;
  }
  #servings { 
    margin-left: 10px;
  }
  .removeBtn { 
    width: 200px;
    align-self: center;
  }
  .qty{ 
    width: 80px;
  }
  .qtyLabel { 
    width:80px
  }
  .uomLabel { 
    width: 120px;
  }
  .ingField { 
    align-items: center;
  }
  #topField { 
    display: flex;
    gap: 10px;
    /* background-color: #61dafb; */
  }
  .recipeForm { 
    width: 800px;
    /* background-color: blueviolet; */
  }
}
.profilePic { 
  width: 40px;
  /* height: 40px; */
  
}
.detailPic { 
  width: 300px;


}
.polaroid {
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}