.App {
  text-align: center;
}
body { 
  background-color: rgb(255, 255, 255);
}
.profilePic { 
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.detailPic { 
  height: 300px;
  width: 300px;
  object-fit:cover;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19); 
}
.previewRec { 
  height: 100px;
  width: 100px;
  object-fit:cover;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19); 
}
.polaroid {
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.polaroid2 {
  width: 200px;
  /* height: 225px; */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.saveBtn { 
  width: 150px;
  height: 50px;
  color: white;
  font-weight: 600;
  align-self: center;
}
.directions { 
  width: 620px;
}
.submitBtn { 
  width: 100px;
  height: 50px;
  color: white;
  font-weight: 600;
  align-self: center;
}
.myNav { 
  top: 0; 
  position:fixed;
  width: 100%;
  background-color: rgb(190, 203, 92);
}
.custom { 
  margin-top: 80px;
}
.coverFlow {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.recipeImg { 
  width: 200px;
  height: 200px;
  object-fit: cover;
}
/* .myCenter { 
  margin: auto;
  padding: auto;
} */
.likeIcon { 
  font-size: 40px;
}
.searchBtn { 
  background-color: rgba(233, 215, 56, 0.765);
  font-weight: 400;
  color: black;
}
.searchBtn:hover{ 
  background-color: #BECB5C;
  color: white;
  font-weight: 400;
  transition: 0.5s;
}
.directionsInput { 
  height: 30px;
}
@media all and (max-width:991px) {
  .myForm { 
    width: 100%;
    align-items: center;
  }
  .regLabel { 
    width: 130px;
  }
  .regInput {
    width: 300px;
    margin-left: 10px;
    height: 30px;
  }
  .ingBox { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: aqua; */
  }
  .ingLabel {
    margin-bottom: 15px;
    text-align: center;
  }
  .ingInput { 
    width: 300px;
    height: 30px;
  }
  .directions { 
    width: 300px;
  }
  .regBox { 
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    align-items: center;
    height: 60px;
  }
  .removeBtn { 
    width: 200px;
    align-self: center;
    margin-top: 10px;
  }
  .recipeForm { 
    width: 600px;
  }
  .profileLink { 
    position: fixed;
    top: 15px;
    right: 20%;
  }
  .recipeFrame {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .polaroidRecipe {
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
@media all and (min-width:992px){
  .myForm {
    width: 50%;
  }
  .regLabel { 
    width: 120px;
  }
  .regInput {
    width: 250px;
    margin-left: 10px;
    height: 30px;
  }
  .ingLabel {
    text-align: center;
  }
  .ingInput { 
    width: 200px;
    height: 30px;
    margin-right: 10px;
  }
  .regBox { 
    height: 60px;
  }
  /* #servings { 
    margin-left: 10px;
  } */
  .removeBtn { 
    width: 200px;
    align-self: center;
    margin-top: 10px;
  }
  .qty{ 
    width: 80px;
  }
  .qtyLabel { 
    width:80px
  }
  .uomLabel { 
    width: 120px;
  }

  .ingField { 
    align-items: center;
  }
  #topField { 
    display: flex;
    gap: 10px;
  }
  .recipeForm { 
    width: 800px;
  }
  .editRecipe { 
    display: flex;
  }
  .profileLink { 
    position: fixed;
    top: 15px;
    right: 80px;
  }
  .recipeFrame {
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .polaroidRecipe {
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

